
/*Happiness-Sans*/

@font-face {
    font-family: "Happiness-Sans";
    src: local(※),url("@/assets/fonts/Happiness-Sans/Happiness-Sans-Bold.eot?#iefix")
     format("embedded-opentype"),url("@/assets/fonts/Happiness-Sans/Happiness-Sans-Bold.woff") 
     format("woff"),url("@/assets/fonts/Happiness-Sans/Happiness-Sans-Bold.woff2") 
     format("woff2"),url("@/assets/fonts/Happiness-Sans/Happiness-Sans-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "Happiness-Sans";
    src: local(※),url("@/assets/fonts/Happiness-Sans/Happiness-Sans-Regular.eot?#iefix")
     format("embedded-opentype"),url("@/assets/fonts/Happiness-Sans/Happiness-Sans-Regular.woff") 
     format("woff"),url("@/assets/fonts/Happiness-Sans/Happiness-Sans-Regular.woff2") 
     format("woff2"),url("@/assets/fonts/Happiness-Sans/Happiness-Sans-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/*Pretendard*/

@font-face {
    font-family: "Pretendard";
    src: local(※),url("@/assets/fonts/Pretendard/Pretendard-Thin.eot?#iefix")
     format("embedded-opentype"),url("@/assets/fonts/Pretendard/Pretendard-Thin.woff") 
     format("woff"),url("@/assets/fonts/Pretendard/Pretendard-Thin.woff2") 
     format("woff2"),url("@/assets/fonts/Pretendard/Pretendard-Thin.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: local(※),url("@/assets/fonts/Pretendard/Pretendard-ExtraLight.eot?#iefix")
     format("embedded-opentype"),url("@/assets/fonts/Pretendard/Pretendard-ExtraLight.woff") 
     format("woff"),url("@/assets/fonts/Pretendard/Pretendard-ExtraLight.woff2") 
     format("woff2"),url("@/assets/fonts/Pretendard/Pretendard-ExtraLight.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: local(※),url("@/assets/fonts/Pretendard/Pretendard-Light.eot?#iefix")
     format("embedded-opentype"),url("@/assets/fonts/Pretendard/Pretendard-Light.woff") 
     format("woff"),url("@/assets/fonts/Pretendard/Pretendard-Light.woff2") 
     format("woff2"),url("@/assets/fonts/Pretendard/Pretendard-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: local(※),url("@/assets/fonts/Pretendard/Pretendard-Regular.eot?#iefix")
     format("embedded-opentype"),url("@/assets/fonts/Pretendard/Pretendard-Regular.woff") 
     format("woff"),url("@/assets/fonts/Pretendard/Pretendard-Regular.woff2") 
     format("woff2"),url("@/assets/fonts/Pretendard/Pretendard-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: local(※),url("@/assets/fonts/Pretendard/Pretendard-Medium.eot?#iefix")
     format("embedded-opentype"),url("@/assets/fonts/Pretendard/Pretendard-Medium.woff") 
     format("woff"),url("@/assets/fonts/Pretendard/Pretendard-Medium.woff2") 
     format("woff2"),url("@/assets/fonts/Pretendard/Pretendard-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: local(※),url("@/assets/fonts/Pretendard/Pretendard-SemiBold.eot?#iefix")
     format("embedded-opentype"),url("@/assets/fonts/Pretendard/Pretendard-SemiBold.woff") 
     format("woff"),url("@/assets/fonts/Pretendard/Pretendard-SemiBold.woff2") 
     format("woff2"),url("@/assets/fonts/Pretendard/Pretendard-SemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: local(※),url("@/assets/fonts/Pretendard/Pretendard-Bold.eot?#iefix")
     format("embedded-opentype"),url("@/assets/fonts/Pretendard/Pretendard-Bold.woff") 
     format("woff"),url("@/assets/fonts/Pretendard/Pretendard-Bold.woff2") 
     format("woff2"),url("@/assets/fonts/Pretendard/Pretendard-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: "Pretendard";
    src: local(※),url("@/assets/fonts/Pretendard/Pretendard-ExtraBold.eot?#iefix")
     format("embedded-opentype"),url("@/assets/fonts/Pretendard/Pretendard-ExtraBold.woff") 
     format("woff"),url("@/assets/fonts/Pretendard/Pretendard-ExtraBold.woff2") 
     format("woff2"),url("@/assets/fonts/Pretendard/Pretendard-ExtraBold.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "Pretendard";
    src: local(※),url("@/assets/fonts/Pretendard/Pretendard-Black.eot?#iefix")
     format("embedded-opentype"),url("@/assets/fonts/Pretendard/Pretendard-Black.woff") 
     format("woff"),url("@/assets/fonts/Pretendard/Pretendard-Black.woff2") 
     format("woff2"),url("@/assets/fonts/Pretendard/Pretendard-Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}