@charset "UTF-8";

.form-wrap {
	position: relative;

	.form-text {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 12px;
		line-height: 17px;
		color: $CTsub;

		em {
			color: $CBrand;
			padding-right: 2px;
		}
	}

	.col {
		position: relative;
		display: inline-flex;
		align-items: center;
		width: calc(50% - 5px);

		&+.col {
			margin-left: 10px;
		}

		&.v2 {
			width: calc(100% - 190px);

			&+.btn-type2 {
				display: inline-flex;
				align-items: center;
				min-width: 180px;
				height: 50px;
				margin-left: 10px;
				white-space: nowrap;
			}
		}
	}
}

.form-item {
	position: relative;
	font-size: 0;

	.msg {
		display: none;
	}

	.input-label {
		display: block;
		margin-bottom: 8px;
		font-size: 15px;
		line-height: 22px;

		.required {
			margin-left: 4px;
			color: $CBrand;
			font-size: 15px;
		}

		.js_tooltip_box {
			top: 27px;
		}
	}

	.input-text {
		position: relative;

		input {
			padding-right: 80px;

			&:read-only {
				background-color: $CBg2;
				color: $CTsub4;
			}
		}

		input[type="date"] {
			position: relative;
			padding-right: 20px;
			background: url("../images/icon/ico_calendar.svg") no-repeat right 16px center / 16px 18px
		}

		&+.input-text {
			margin-top: 10px;
		}

		&.phone {
			display: flex;
			align-items: center;
			padding: 0 0 0 16px;
			border: 1px solid $CBg;
			background-color: #fff;

			.country-code {
				display: inline-flex;
				white-space: nowrap;
				font-size: 14px;
				color: $CTmain;
			}

			input {
				border: 0;

				&:focus {
					border: 0;
					background-color: #fff;
					outline: none;
				}
			}

			&.focus {
				border: 1px solid $CTmain;
				background-color: #fff;
				outline: none;
			}
		}

		&.active {
			.form-btns {
				.btn-eye {
					@extend .ico-show;
					display: none;
				}
			}
		}

		&.focus {
			input {
				border: 1px solid $CTmain;
			}
		}
	}

	.form-btns {
		display: flex;
		align-items: center;
		@include abs(v);
		right: 17px;

		.btn-clear {
			@extend .ico-clear;
			display: none;
		}

		.btn-eye {
			@extend .ico-hide;
			display: none;
		}

		button {
			&+button {
				margin-left: 15px;
			}
		}
	}

	&+.form-item {
		margin-top: 24px;
	}

	&.datepicker {
		display: flex;
		align-items: center;

		.btn-type2 {
			width: 65px;
			height: 50px;
			margin-left: 10px;
			white-space: nowrap;
		}

		>span {
			padding: 0 6px;
		}
	}

	&.datepicker-term {
		display: flex;
		align-items: center;

		input {
			padding: 0;
			text-align: center;
		}

		>span {
			padding: 0 6px;
		}
	}

	&.quantity {
		display: flex;
		align-items: center;
		overflow: hidden;
		min-width: 100px;
		width: 100px;
		border: 1px solid $CBg2;
		border-radius: 4px;

		input {
			height: 30px;
			padding: 0;
			border: 0;
			border-radius: 0;
			font-size: 12px;
			line-height: 30px;
			text-align: center;
		}

		&>button {
			display: flex;
			align-items: center;
			justify-content: center;
			min-width: 30px;
			height: 30px;

			&.disabled {
				background-color: $CBg3;

				[class^="ico-"] {
					background-color: $CBg;
				}
			}
		}

		&.disabled {
			input {
				color: $CBg;
			}

			&>button {
				background-color: $CBg3;

				[class^="ico-"] {
					background-color: $CBg;
				}
			}
		}

		&.full {
			width: 100%;
		}
	}

	&.error {
		.input-text {
			input {
				border-color: $CBrand;
			}
		}
		.phone{
			border-color: $CBrand;
		}

		.msg {
			display: block;
			width: 100%;
			margin-top: 8px;
			font-size: 14px;
			line-height: 20px;
			color: $CBrand;

			&.list-type {
				li {
					&::before {
						background-color: $CBrand;
					}
				}
			}
		}
	}
}

.search-form {
	position: relative;

	.btn-search {
		@extend .ico-search;
		background-color: $CTmain;
	}

	&.v2 {
		.input-text {
			input[type=text] {
				padding-left: 44px;
				background-color: $CTmain;
				border-color: $CTmain;
				color: #fff;
			}
		}

		.form-btns {
			.btn-clear {
				@extend .ico-clear;
				display: none;
			}
		}

		.btn-search {
			position: absolute;
			top: 15px;
			left: 15px;
			background-color: #fff;
		}

	}
}

.textarea-type {
	position: relative;
	width: 100%;
	border: 1px solid $CBg3;
	background: $CBg3;

	.textarea-scroll {
		margin-right:8px;
		padding-top:20px;
	}

	textarea {
		padding: 0 20px;
		background-color: transparent;
		font-size: 12px;

		&:focus {
			border: 0;
		}

		&:disabled {
			border: 1px solid $CBg;
			background-color: $CBg2;
			color: $CTsub3;
		}
		//scroll
		&::-webkit-scrollbar {
			width: 2px;
			height: 2px;
		}

		&::-webkit-scrollbar-track {
			background: $CBg2;
		}

		&::-webkit-scrollbar-thumb {
			background: $CTmain;
		}
	}

	.count {
		display: block;
		padding: 0 0 20px 20px;
		font-size: 12px;
		color: $CTsub2;
	}

	.error & {
		border-color:$CBrand;
		background-color:#fff;
	}

	&.active {
		border-color: $CBg;
		background: #fff;
	}

	&.focus {
		border-color: $CTmain;
		background: #fff;
	}

	
}

//checkbox,radio
.chk-box {
	display: flex;
	align-items: center;

	label {
		font-size: 14px;
		cursor: pointer;
	}

	&:first-child {
		margin-left: 0;
	}

	input[type="checkbox"],
	input[type="radio"] {
		display: none;

		&:disabled {
			&+.checkbox {
				background-color: $CBg2;
			}
		}
	}

	.checkbox {
		display: inline-block;
		position: relative;
		width: 20px;
		height: 20px;
		margin-right: 8px;
		border: 1px solid $CBg;
		background-color: #fff;
		flex-shrink: 0;

		&+label {
			width: calc(100% - 20px);
			font-size: 14px;
			line-height: 21px;
			word-break: break-word;

			&.v2 {
				font-size: 10px;
				line-height: 13px;
				color: $CTsub3;
			}
		}
	}

	input[type="checkbox"] {
		&+.checkbox {

			&:before,
			&:after {
				content: "";
				position: absolute;
				width: 0;
				height: 1px;
				border-radius: 15px;
				background: $CBg;
				@include prefix(transform-origin, left, webkit);
				@include prefix(transition, all 150ms, webkit);
			}

			&:before {
				width: 5px;
				@include prefix(transform, translate(5px, 8px) rotate(45deg), webkit);
				@include prefix(transition-delay, 100ms, webkit);
			}

			&:after {
				width: 10px;
				@include prefix(transform, translate(8px, 12px) rotate(-50deg), webkit);
				@include prefix(transition-delay, 0ms, webkit);
			}
		}

		&:checked~.checkbox:before,
		&:checked~.checkbox:after {
			background: #fff;
		}

		&:checked~.checkbox:before {
			width: 5px;
		}

		&:checked~.checkbox:after {
			width: 10px;
		}
	}

	input[type="radio"] {
		&+.checkbox {
			border-radius: 50%;

			&:after {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) scale(1);
				width: 8px;
				height: 8px;
				border-radius: 50%;
				background-color: $CTmain;
				transform: translate(-50%, -50%) scale(0);
				transition: 0.3s;
			}
		}

		&:checked~.checkbox:after {
			transform: translate(-50%, -50%) scale(1);
		}

	}

	&.selected {

		input[type="checkbox"]~.checkbox:before,
		input[type="checkbox"]~.checkbox:after {
			background: #fff;
		}

		input[type="checkbox"]~.checkbox:before {
			transition-delay: 0ms;
		}

		input[type="checkbox"]~.checkbox:after {
			transition-delay: 100ms;
		}

		input[type="checkbox"]+.checkbox {
			background: $CTmain;
			border-color: $CTmain;
		}

		input[type="radio"]+.checkbox {
			background: #fff;

			&:after {
				transform: translate(-50%, -50%) scale(1);
			}
		}
	}

	&+.chk-box {
		margin-top: 10px;
	}
}

.chk-box2 {
	display: flex;
	align-items: center;

	label {
		font-size: 14px;
		cursor: pointer;
	}

	&:first-child {
		margin-left: 0;
	}

	input[type="checkbox"],
	input[type="radio"] {
		display: none;

		&:disabled {
			&+.checkbox {
				background-color: $CBg2;
			}
		}
	}

	.checkbox {
		display: inline-block;
		position: relative;
		width: 20px;
		height: 20px;
		margin-right: 8px;
		flex-shrink: 0;
	}

	input[type="checkbox"] {
		&+.checkbox {

			&:before,
			&:after {
				content: "";
				position: absolute;
				width: 0;
				height: 1px;
				background: $CBg;
				@include prefix(transform-origin, left, webkit);
				@include prefix(transition, all 150ms, webkit);
			}

			&:before {
				width: 5px;
				@include prefix(transform, translate(4.2px, 7.9px) rotate(45deg), webkit);
				@include prefix(transition-delay, 100ms, webkit);
			}

			&:after {
				width: 10px;
				@include prefix(transform, translate(7.5px, 12px) rotate(-45deg), webkit);
				@include prefix(transition-delay, 0ms, webkit);
			}
		}

		&:checked~.checkbox:before,
		&:checked~.checkbox:after {
			background: #fff;
		}

		&:checked~.checkbox:before {
			width: 5px;
		}

		&:checked~.checkbox:after {
			width: 10px;
		}
	}


	&.selected {

		input[type="checkbox"]~.checkbox:before,
		input[type="checkbox"]~.checkbox:after {
			background: $CTmain;
		}

		input[type="checkbox"]~.checkbox:before {
			transition-delay: 0ms;
		}

		input[type="checkbox"]~.checkbox:after {
			transition-delay: 100ms;
		}

		input[type="checkbox"]+.checkbox {
			border-color: $CTmain;
		}
	}

	&+.chk-box {
		margin-top: toRem(10px);
	}

	&.v2 {
		margin-top: toRem(20px);
		align-items: flex-start;

		label {
			font-size: toRem(12px);
			color: $CTsub3;
			line-height: 1.4;
		}

		.checkbox {
			margin-right: toRem(10px);
		}

		&.selected {
			label {
				color: $CTmain;
			}
		}
	}
}

.chk-group {
	.chk-box {
		margin: 0 0 5px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.chk-all {
		margin-bottom: 24px;
	}
}

//switch
.switch-box {
	position: relative;

	input[type="checkbox"] {
		position: relative;
		left: inherit;
		top: inherit;
		width: 45px;
		height: 2px;
		background: $CTsub3;
		transition: 0.4s;
		appearance: none;
		opacity: 1;
		cursor: pointer;
	}

	input:checked[type="checkbox"] {
		background: $CTmain;
	}

	input[type="checkbox"]::after {
		content: "";
		position: absolute;
		top: -5.5px;
		left: 0px;
		width: 13px;
		height: 13px;
		border: 2px solid $CTsub3;
		border-radius: 50%;
		background: #fff;
		transition: 0.4s;
	}

	input:checked[type="checkbox"]::after {
		left: calc(100% - 13px);
		border-color: $CTmain;
		background: $CTmain;
	}
}

.switch-box2 {
	@extend .switch-box;

	input[type="checkbox"] {
		width: 54px;
		height: 29px;
		border-radius: 50px;
		background: $CBg2;
	}

	input:checked[type="checkbox"] {
		background: $CTmain2;
	}

	input[type="checkbox"]::after {
		top: 3px;
		left: 3px;
		width: 23px;
		height: 23px;
		border: none;
	}

	input:checked[type="checkbox"]::after {
		left: calc(100% - 27px);
		background: #fff;
	}
}

.select-type {
	position: relative;
	width: 100%;
	height: 50px;

	.select-option {
		width: 100%;
		height: 50px;

		padding: {
			top: 0;
			left: 16px;
			bottom: 0;
			right: 40px;
		}

		border: 1px solid $CBg;
		@include font(14, 50);
		cursor: pointer;
		@include text-hidden-one();
	}

	.select-cont {
		display: none;
		position: absolute;
		top: 49px;
		z-index: -1;
		width: 100%;
		height: 0;
		padding: 9px 10px;
		border: 1px solid $CTmain;
		border-top: 1px solid $CBg;
		background-color: #fff;

		.custom-scroll {
			max-height: 213px;
			margin-right: 6px;
		}
	}

	ul {
		li {
			padding: 5px 6px;

			button {
				width: 100%;
				font-size: 14px;
				line-height: 23px;
				text-align: left;
				@include text-hidden-one();
				&:disabled {
					color: $CTsub3;
				}
			}

			&:hover {
				background-color: $CBg3;
			}

			&+li {
				margin-top: 4px;
			}

		}
	}

	&::after {
		content: "";
		@include abs(v);
		right: 16px;
		@extend .ico-arr;
		transition: all 0.2s ease;
	}

	&.active {
		.select-option {
			border: 1px solid $CTmain;
		}

		.select-cont {
			display: block;
			z-index: 10;
			height: auto;
		}

		&::after {
			-webkit-transform: translateY(-50%) rotate(180deg);
			-ms-transform: translateY(-50%) rotate(180deg);
			transform: translateY(-50%) rotate(180deg);
		}
	}

	&.disabled {
		.select-option {
			background-color: $CBg3;
			color: $CTsub3;
		}

		&::after {
			background-color: $CBg;
		}
	}
}

.js_select {
	&.hide{
		display: none;
	}
}
.select-type2 {
	position: relative;
	height: 28px;

	.select-option {
		display: inline-flex;
		align-items: baseline;
		height: 28px;
		font-size: 12px;
		line-height: 28px;
		cursor: pointer;

		&::after {
			content: "";
			display: inline-flex;
			@extend .ico-arr2;
			margin-left: 10px;
			transition: all 0.2s ease;
		}
	}

	ul {
		opacity: 0;
		position: absolute;
		top: 28px;
		z-index: -1;
		width: 236px;
		height: 0;
		padding: 9px 10px;
		background-color: #fff;
		border: 1px solid $CTmain;

		li {
			padding: 5px 6px;

			button {
				width: 100%;
				font-size: 14px;
				line-height: 23px;
				text-align: left;

				&:disabled {
					color: $CTsub3;
				}
			}

			&:hover {
				background-color: $CBg3;
			}

			&+li {
				margin-top: 4px;
			}
		}
	}

	&.active {
		ul {
			opacity: 1;
			z-index: 20;
			height: auto;
		}

		.select-option {
			&::after {
				-webkit-transform: rotate(180deg);
				-ms-transform: rotate(180deg);
				transform: rotate(180deg);
			}
		}
	}
}

.btn-option {
	position: relative;
	width: 100%;
	height: 50px;

	padding: {
		top: 0;
		left: 16px;
		bottom: 0;
		right: 40px;
	}

	border: 1px solid $CBg2;
	font-size: 14px;
	line-height: 50px;
	text-align: left;

	&::after {
		content: "";
		@include abs(v);
		right: 16px;
		@extend .ico-arr;
		transition: all 0.2s ease;
	}
}

.file-type {
	position: relative;
	display: flex;
	align-items: center;

	.btn-upload {
		position: relative;
		display: block;
		width: 90px;
		height: 90px;
		background-color: $CBg;

		&::after {
			content: '';
			@include abs(c);
			width: 16px;
			height: 16px;
			@include svgUrl(#fff, $url: "data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='16' y='9' width='16' height='2' transform='rotate(180 16 9)' fill=' white'/%3E%3Crect x=' 7.00006' y=' 16' width=' 16' height=' 2' transform=' rotate(-90 7.00006 16)' fill=' white'/%3E%3C/svg%3E%0A");

		}
	}

	.btn-type {
		height: 40px;
		margin-right: 10px;
		font-size: 12px;
	}

	&.img {
		input[type="file"] {
			display: none;
		}

		.img-box {
			display: none;
			align-items: center;

			.thumbnail {
				position: relative;
				display: block;
				overflow: hidden;
				width: 90px;
				height: 90px;
				margin-right: 8px;
				// object-fit: cover;
				img{
					width: 100%;
					height: 100%;
					position: absolute;
					object-fit: cover;
					object-position: center;
				}
			}
		}

		.btn-clear {
			position: absolute;
			top: 0;
			right: 0;
			width: 26px;
			height: 26px;
			background-color: rgba(0, 0, 0, 0.2);
			font-size: 0;

			&::after {
				content: '';
				@include abs(c);
				@extend .ico-close;
				background-color: #fff;
			}
		}
	}
}

.ui-datepicker {
	display: none;
	// width: 350px;
	padding: 30px 10px;
	border: 1px solid $CBg2;
	background: #fff;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);

	.ui-datepicker-header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.ui-datepicker-title {
			order: 1;
			display: flex;
			flex-wrap: wrap;
			font-size: 14px;
			font-weight: 500;
		}

		select {
			min-width: 120px;
			height: 37px;

			padding: {
				top: 0;
				bottom: 0;
				left: 20px;
				right: 60px;
			}

			margin: 5px;
			border: 1px solid $CBrand;
			border-radius: 6px;
			background: url(../images/icon/ico_more.svg) calc(100% - 20px) 50% no-repeat;
			background-size: 26px auto;
			font-size: 15px;
			line-height: 37px;
		}

		.ui-corner-all {
			display: none;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: 40px;
			height: 40px;

			.ui-icon {}
		}

		.ui-datepicker-prev {
			order: 0;

			.ui-icon {}
		}

		.ui-datepicker-next {
			order: 2;
		}
	}

	.ui-datepicker-calendar {
		margin-top: 20px;
		letter-spacing: 0;
		line-height: 1;

		thead {
			tr {
				th {
					padding: 10px 15px;
					font-size: 12px;
					font-weight: 500;
					text-align: center;
					text-transform: uppercase;

					&:first-child {
						span {
							color: $CBrand;
						}
					}
				}
			}
		}

		tbody {
			tr {
				td {
					position: relative;
					padding: 15px 0;
					font-size: 12px;
					text-align: center;

					&:first-child {
						color: $CBrand;
					}

					&.ui-state-disabled {
						color: $CTsub3;
					}

					.ui-state-active {
						position: relative;
						z-index: 1;
						color: #fff;

						&:before {
							content: "";
							@include abs($abs: c);
							z-index: -1;
							width: 40px;
							height: 40px;
							border-radius: 100%;
							background: $CBrand;
						}
					}
				}
			}
		}
	}

	&.ui-datepicker-inline {
		display: block;
		position: relative;
		left: auto;
		right: auto;
		padding: 0;
		margin: 0;
		border: none;
		box-shadow: none;
	}

	.ui-datepicker-buttonpane {
		display: flex;
		justify-content: center;

		.ui-datepicker-current {
			@extend .btn-type;
			margin-top: 10px;
		}

		.ui-datepicker-close {
			display: none;
		}
	}
}