@charset "UTF-8";

.swiper-paging{
	z-index: 29;
	display: flex;
	align-items: center;
	em{
		position: relative;
		width: 20px;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		color: rgba(#ddd, 0.5);
		&.current-count{
			width: 45px;
			padding-right: 25px;
			color: #fff;
			&::after{
				content: '';
				display: block;
				@include abs(v);
				right: 12px;
				width: 1px;
				height: 12px;
				background-color: rgba(#ddd, 0.5);;
			}
		}
	}
}
.swiper-paging2{
    display: inline-flex;
	align-items: center;
	width: auto;
	height: 26px;
	padding: 0 10px;
	background-color: rgba(0, 0, 0, 0.38);
	border-radius: 100px;
	.count-box{
		display: flex;
		align-items: center;
	}
	em{
		width: 20px;
		font-size: 13px;
		line-height: 18px;
		text-align:center;
		color: #fff;
		opacity: 0.5;
		&.current-count{
			position: relative;
			opacity: 1;
			width: 33px;
			padding-right: 13px;
			&::after{
				content: '/';
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				width: 13px;
				font-size: 13px;
				line-height: 18px;
				text-align: center;
				opacity: 0.5;
			}
		}
	}
	[class^='swiper-button-']{
		position: relative;
		width: 10px;
		height: 10px;
		top: initial;
		margin: 0;
		@extend .ico-arr2;
		background-color: #fff;
		&.swiper-button-next{
			position: relative;
			width: 10px;
			height: 10px;
			top: initial;
			margin: 0;
			@extend .ico-arr2;
			background-color: #fff;
			right: initial;
			transform: rotate(-90deg);
			margin-left: 4px;
		}
		&.swiper-button-prev{
			position: relative;
			width: 10px;
			height: 10px;
			top: initial;
			margin: 0;
			@extend .ico-arr2;
			background-color: #fff;
			left: initial;
			transform: rotate(90deg);
			margin-right: 4px;
		}
		&.swiper-button-disabled{
			opacity: .38;
			pointer-events: none;
		}
	}
}

.swiper-button-prev,
.swiper-button-next{
	z-index: 29;
    width: 85px;
    height: 85px;
	margin-top: -42.5px;
	background: transparent;
	&::after{
		content: '';
		display: block;
		@include abs(c);
		@extend .ico-arr4;
		background-color: #fff;
	}
	&.v2{
		width: 55px;
		height: 55px;
		background-color: rgba($color: #000, $alpha: 0.24);
		&::after{
			@extend .ico-arr5;
		}
	}
	&.swiper-button-disabled{
		// 상품상세로 들어가는 이슈로 인해
		pointer-events: initial;
	}
}
.swiper-button-prev{
	left: 40px;
}
.swiper-button-next{
	right: 40px;
	transform: rotate(180deg);
}

.swiper-pagination{
	position: relative;
	&.swiper-pagination-progressbar{
		width:180px;
		height: 2px;
		margin:40px auto 0;
		background-color: $CBg2;
		.swiper-pagination-progressbar-fill {
			background-color: #000;
		}
	}
	&.swiper-pagination-bullets{
		bottom: 0;
		.swiper-pagination-bullet{
			transition: all 0.3s;
			&.swiper-pagination-bullet-active{
				background-color: #000;

			}
		}
	}
}

.swiper{
	position: relative;
	.video-area {
		pointer-events: none;
	}
	&.banner-swiper{
		height: 176px;
		.swiper-slide {
			position: relative;
			height: 100%;
			.video-area {
				iframe {
					position: absolute;
					top: -50%;
					left: 50%;
					transform: translate(-50%, 88px);
				}
			}
			img {
				height: 100%;
				object-fit: cover;
			}
		}
		.swiper-paging2{
			position: absolute;
			bottom: 16px;
			right: 16px;
			z-index: 1;
		}
	}
} 

.visual-swiper{
	position: relative;
	.swiper-wrapper{
		z-index: 11;
	}
	&::after{
		// content:'';
		z-index: 1;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 50%;
		background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
		opacity: 0.3;
	}
	.swiper-paging{
		@include abs(h);
		bottom: 36px;
	}
	.swiper-button-prev, .swiper-button-next{
		margin-top: -52px;
	}
}

.swiper-container-horizontal{
	&.no-touch{
		.swiper-wrapper{
			transform: translate3d(0, 0, 0) !important;
		}
	}
}

.swiper-slide {
  .swiper-zoom-container {
    touch-action: none;
  }
}

.detail-swiper{
	.swiper-slide{
		position: relative;
		p{
			position: absolute;
			top: 0;
			left: 0;
			font-size: 50px;
			color: #fff;
			z-index: 1;
			&+p{
				left: initial;
				right: 0;
			}
		}
	}
	.swiper-paging{
		position: absolute;
		bottom: 30px;
		left: 50%;
		width: 1334px;
		z-index: 2;
		padding-left: 300px;
		text-align:center;
		transform: translateX(-50%);
		em{
			color: rgba(#000, 0.3);
			&.current-count{
				color: $CTmain;
				&::after{
					background-color: rgba(#000, 0.3);
				}
			}
		}
	}
	.swiper-button-prev,
	.swiper-button-next{
		&::after{
			background-color: rgba($color: #000000, $alpha: 0.5);
		}
	}
	.swiper-button-prev{
		left: 16px;
	}
	.swiper-button-next{
		right: 16px;
	}
}

.product-swiper,
.recommend-swiper {
	&:hover {
		.swiper-button-prev,
		.swiper-button-next {
			opacity: 1;

			&.swiper-button-disabled {
				opacity: .35;
				pointer-events: initial;
			}
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		opacity: 0;
		z-index: 10;
		top: 55%;
		width: 55px;
		height: 55px;
		background-color: rgba($color: #000000, $alpha: 0.24);
		transition: all 0.3s ease-in-out;

		&::after {
			width: 20px;
			height: 27px;
			background-color: #fff;
		}

		// top: 134px;
		margin-top:-100px;
	}

	.swiper-button-prev {
		left: 0;
	}

	.swiper-button-next {
		right: 0;
	}

	&.v2 {
		margin: 0 -8px;
		overflow: hidden;

		.swiper-slide {
			width: calc(20% - 16px);
			margin: 0 8px;
		}

		.swiper-button-prev {
			left: 8px;
		}

		.swiper-button-next {
			right: 8px;
		}
	}
}

.promotion-swiper{
	position: relative;
	width: 100%;
	p{
		width: 100%;
		@include abs(c);
		font-size: 21px;
		line-height: 27px;
		color: #fff;
	}
	.swiper-paging2{
		position: absolute;
		bottom: 20px;
		left: 50%;
		z-index: 1;
		transform: translateX(-50%);
		.swiper-button-prev,
		.swiper-button-next{
			position: relative;
			width: 10px;
			height: 10px;
			top: initial;
			margin: 0;
			@extend .ico-arr2;
			background-color: #fff;
		}
		.swiper-button-prev{
			margin-right: 4px;
		}
		.swiper-button-next{
			margin-left: 4px;
		}
	}
	.swiper-button-prev,
	.swiper-button-next{
		margin-top: -13px;
		background: transparent;
		background-color: #fff;
		@extend .ico-arr5;
		&.swiper-button-disabled{
			opacity: 1;
			pointer-events: visible;
			cursor: pointer;
		}
	}
	.swiper-button-prev{
		left: 16px;
	}
	.swiper-button-next{
		right: 16px;
	}
}

.center-swiper{
	overflow: hidden;
	.swiper-wrapper{
		margin-right: -17%;
		margin-left: -17%;
	}
	.swiper-slide{
		position: relative;
	}
}
